body {
  background-color: black;
}

.rightflash {
  -moz-animation: rightflash .4s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: rightflash .4s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: rightflash .4s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes rightflash {
    0% { background-color:transparent;}
    20% { background-color:green;}        
    100% {background-color:transparent;}
}


@-moz-keyframes rightflash {
    0% { background-color:transparent;}
    20% { background-color:green;}        
    100% {background-color:transparent;}
}

@-ms-keyframes rightflash {
    0% { background-color:transparent;}
    20% { background-color:green;}        
    100% {background-color:transparent;}
}

.wrongflash{
  -moz-animation: wrongflash .4s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: wrongflash .4s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: wrongflash .4s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes wrongflash {
    0% { background-color:transparent;}
    20% { background-color:red;}        
    100% {background-color:transparent;}
}


@-moz-keyframes wrongflash {
    0% { background-color:transparent;}
    20% { background-color:red;}        
    100% {background-color:transparent;}
}

@-ms-keyframes wrongflash {
    0% { background-color:transparent;}
    20% { background-color:red;}        
    100% {background-color:transparent;}
}



.card {
  margin-left: 30px;
  list-style-type: none;
  border: 2px black solid;
  border-radius: 10px;
  padding: 18px 30px 18px 30px;
  text-align: center;
  max-height: 150px;
  height: 150px;
  background-color: white;
}

.three img {
  width: 100%;
}


.two img {
  width: 100%;
  margin-top: 18px;
}


.one img {
  width: 100%;
  margin-top: 50px;
}

.image-container {
  width: 45px;
}

li {
  list-style: none;
}

.info {
  display: inline-block;
}

.row1 {
  display: -webkit-inline-box;
}

.row2 {
  display: -webkit-inline-box;
}

.row3 {
  display: -webkit-inline-box;
}



.clicked_on {
  background: grey;
  opacity: .4;
}

.board {
}

.endGameScreen {
}

.invisible {
  display: none;
}

.gameInfo {
  display: inline-flex;
}

.splash {
  position: relative;
  -webkit-background-size:cover cover;
}

.splash__presentation {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

  @media (min-width: 320px) and (max-width: 1024px){.splash{min-height:360px}
}
  @media (min-width: 1024px) and (max-width: 1200px){.splash{min-height:460px}
}
  @media (min-width: 1200px) and (max-width: 1500px){.splash{min-height:460px}
}
  @media (min-width: 1500px) and (max-width: 2560px){.splash{min-height:700px}
}
.splash__presentation__container{height:100%;
    position:relative}
    @media (min-width: 320px) and (max-width: 1024px){.splash__presentation .button.button-huge,.splash__presentation .nestitem__editmenu a.button-huge.moveaction,.nestitem__editmenu .splash__presentation a.button-huge.moveaction,.splash__presentation .nestitem__editmenu a.button-huge.renameaction,.nestitem__editmenu .splash__presentation a.button-huge.renameaction{margin:0 auto;
    display:block;
  width:80px;margin-top:1em}
}

